Repository openstax/recipes, pull requests merged in 2021-08, with the labels that each got.

#81 Update contemporary math recipe to bake injected exercises
  books/contemporary-math/bake
  spec/books/contemporary-math/expected_output.xhtml
  spec/books/contemporary-math/input.xhtml
Labels: recipe:contemporary-math

#83 update anthropology recipe to bake injected exercises
  books/anthropology/bake
  spec/books/anthropology/expected_output.xhtml
  spec/books/anthropology/input.xhtml
Labels: recipe:anthropology

#69 English composition recipe
  bake
  bake_root
  books/english-composition/bake
  books/english-composition/locales/en.yml
  books/english-composition/shorten
  shorten
  spec/books/english-composition/expected_output.xhtml
  spec/books/english-composition/input.xhtml
  spec/main_spec.rb
Labels: recipe:english-composition
